    {{#if article}}
        {{#each article}}
            {{#unless isSaved}}
            <div class="article-item shadow" id="{{id}}">
                <h3 class="article-title">{{title}}</h3>
                <a href="https://www.smashingmagazine.com/{{link}}">Follow Link</a>
                <p class="acticle-summary">{{teaser}}</p>

                <a href="" class="btnSaveArticle">Save</a>

                {{!-- ========== --}}
            </div>
            {{/unless}}
        {{/each}}
        {{else}}
        <div class="empty_list">
            <p>No Articles Found!</p>
        </div>

    {{/if}}