    {{#if article}}
        {{#each article}}
            <div class="article-item shadow" id="{{id}}">
                <h3 class="article-title">{{title}}</h3>
                <a href="https://www.smashingmagazine.com/articles/{{link}}">Follow Link</a>
                <p class="acticle-summary">{{teaser}}</p>

                    <a href="api/save" class="btnSaveArticle">Delet</a>

                {{!-- ========== --}} 
            </div>
        {{/each}}
        {{else}}
        <div class="empty_list">
            <p>No Articles Found!</p>
        </div>

    {{/if}}