<div class="stage" id="home">


    <div class="article-wrapper">
    {{#if acticle}}
        {{#each burgers}}
            <div class="article-item shadow" id="{{id}}">
                <h3 class="article-title">Title: {{title}}</h3>
                <a href="{{link}}">Article Links:  {{link}}</a>
                <p class="acticle-summary">Summary: {{teaser}}</p>
            </div>
        {{/each}}
        {{else}}
        <div class="empty_list">
            <p>No Articles Found!</p>
        </div>

    {{/if}}

    </div>
</div>

